.d-flex{
	align-items: center;
}
.ml-10{
	margin-left: 10px;
}
.text-bold{
	font-weight: 600;
}
#chart {
  max-width: 650px;
  margin: 35px auto;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  border-right: 60px solid blue; 
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 75px solid #f00;
}

.font-40{
	font-size: 26px;
}
.arrow-right{
	padding-right: 0px;
}
.text-right{
	float: right;
}
.text-left{
	float: left;
}

@media only screen and (max-width: 638px) {
	 .font-40{
		font-size: 130px;
	}
}
@media only screen and (max-width: 390px) {
	 .font-40{
		font-size: 76px;
	}
}

@media only screen and (max-width: 360px) {
	 .font-40{
		font-size: 68px;
	}
}
@media only screen and (max-width: 320px) {
	 .font-40{
		font-size: 58px;
	}
}
@media only screen and (min-width: 1500px) {
	 .font-40{
		font-size: 34px;
	}
}
@media only screen and (min-width: 1700px) {
	 .font-40{
		font-size: 40px;
	}
}
@media only screen and (min-width: 1800px) {
	 .font-40{
		font-size: 47px;
	}
}
@media only screen and (min-width: 2000px) {
	 .font-40{
		font-size: 56px;
	}
}