.colon-hhmm{
    margin-top: 2.4rem!important;
    margin-left: 0px;
    font-size: 24px;
}

.abcd {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-around;*/
    align-items: center;
    max-width: 40%;
    /*align-content: center;*/
}