.invalid-feedback{display:block;}
.error{color: #fa5c7c;}
.daterangepicker {
	z-index: 10000 !important;
}
.fc-event{
	padding: 0px !important;
}

.bulb-icon{
	height:40px; 
	vertical-align: top; 
	margin-left: 20px;
}
.font-bold{
	font-weight: bold;
}
.flex{
	display: flex;
  justify-content: space-between;
}
.delete_log{
	color: red;
}
.ml-10{
	margin-left: 10px;
}
.text-right{
	text-align: right;
}
.dot {
  height: 25px;
  width: 25px; 
  border-radius: 50%;
  display: inline-block;
}

/*.monthly_view_table table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}*/